.fc-time-grid .fc-slats td {
  height: 2rem;
}

.fc-axis {
  font-size: 0.7rem;
}

.body {
  background-color: red;
}

.fc th, .fc td {
  border-left-style: none !important;
}

.fc-time {
  border: none !important;
}

.calendar {
  border: none !important;
}
